.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.logo-and-info {
  text-align: center;
  margin-bottom: 15px;
  line-height: 0.1;
}
input:focus{
  outline: #0EA5E9 2px solid;
}

.logo-and-info img {
  width: 200px;
}
.logo-and-info h3{
  margin-top: 1.5px;
}

.login-forms-container {
  height: auto;
  background-color: #fff;
  width: 355px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.input-fields {
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-input {
  width: 70%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input::placeholder {
  opacity: 0.5;
  font-size: 14px;
}

.Input-container {
  position: relative;
  width: 100%;
}

.login-button1 {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #0EA5E9;
  color: white;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 16px;
}
.login-button1:hover{
  background-color: #33b9f8;; 
}
.login-button2 {
  background-color: #fff;
  width: 110%;
  padding: 12px;
  height: 40px;
  color: #0EA5E9;
  border-radius: 4px;
  margin-bottom: 23px;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #90dcff;
}

.login-button2:hover {
  background-color: #33b9f8;; 
  color: white;
}

.forget-password {
  color: #0EA5E9;
  cursor: pointer;
  font-size: 14.5px;
  margin-bottom: 30px;
}

.nessa {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.read-policy {
  font-size: 14px;
}

.centered-hr {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.centered-hr hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.alternative-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.or-continue-with {
  color: #666;
  font-size: 14px;
  text-align: center;
}

.login-icons {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.login-icon {
  cursor: pointer;
  color: black;
}

.form-and-image-container{
  display: flex;
}
.form-and-image-container img{
  border-radius: 8px;
}