.banner-container {
  width: 1230px;
  height: 170px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 1.5%;
}



.banner-container img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

@media only screen and (max-width:414px) {
  .banner-container {
    height: 200px;
    margin-left: 2%;
    background-color: green;
    top: 80px;
    width: 960px;
  }

  .banner-container img {
    height: 200px;
  }
}